Repository ma-mitsuya/review-and-assessment-powered-by-intelligent-documentation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

backend-format-check:
  stage: lint
  image: node:22
  script:
  - cd backend
  - npm ci
  - npm run format:check
  needs: []

frontend-format-check:
  stage: lint
  image: node:22
  script:
  - cd frontend
  - npm ci
  - npm run format:check
  needs: []

backend-build:
  stage: build
  image: node:22
  script:
  - cd backend
  - npm ci
  - npm run prisma:generate
  - npm run build
  artifacts:
    paths:
    - backend/dist/
    expire_in: 1 hour
  needs: []

frontend-build:
  stage: build
  image: node:22
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - frontend/dist/
    expire_in: 1 hour
  needs: []

cdk-synth:
  stage: build
  image: node:22
  script:
  - cd cdk
  - npm ci
  - npm run build
  - npx cdk synth
  artifacts:
    paths:
    - cdk/cdk.out/
    expire_in: 1 hour
  needs: []

backend-docker-build:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - cd backend
  - /kaniko/executor --context $CI_PROJECT_DIR/backend --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --no-push
  needs:
  - backend-build

エラー詳細表示機能の追加 (Issue #59)
  .amazonq/rules/backend.md
  .gitignore
  AmazonQ.md
  backend/prisma/migrations/20250528_add_error_detail.sql
  backend/prisma/schema.prisma
  backend/src/api/features/checklist/domain/model/checklist.ts
  backend/src/api/features/checklist/domain/repository.ts
  backend/src/api/features/review/domain/model/review.ts
  backend/src/api/features/review/domain/repository.ts
  backend/src/checklist-workflow/handle-error/index.ts
  backend/src/review-workflow/handle-error/index.ts
  frontend/src/features/checklist/pages/CheckListSetDetailPage.tsx
  frontend/src/features/checklist/types.ts
  frontend/src/features/review/pages/ReviewDetailPage.tsx
  frontend/src/features/review/types.ts
Due: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

add migration
  backend/prisma/migrations/20250528092327_/migration.sql
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Fix/bedrock filename validation
  backend/src/review-workflow/review-processing/review-item-processor.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Add: Cline rules
  .amazonq/rules/cdk.md
  .clinerules/backend.md
  .clinerules/cdk.md
  .clinerules/frontend.md
  .clinerules/memory-bank.md
  .gitignore
  memory-bank/activeContext.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Due: none

Fix #63 Bug: cannot delete checklist set
  .gitlab-ci.yml
  backend/src/api/features/checklist/domain/repository.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

(CDK) Add paramter.ts
  .clinerules/cdk.md
  README.md
  cdk/bin/rapid.ts
  cdk/lib/parameter-schema.ts
  cdk/lib/parameter.ts
  cdk/lib/rapid-stack.ts
  cdk/package-lock.json
  cdk/package.json
Due: cdk-synth

Unified ui
  frontend/src/components/StatusBadge.tsx
  frontend/src/components/Table.tsx
  frontend/src/features/checklist/components/CheckListSetList.tsx
  frontend/src/features/prompt-template/components/PromptTemplateList.tsx
  frontend/src/features/review/components/ReviewJobList.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: frontend-format-check, frontend-build

IPアドレス制限WAFをconfigurableに
  README.md
  cdk/bin/rapid.ts
  cdk/lib/parameter-schema.ts
  cdk/lib/parameter.ts
Due: cdk-synth

Add cognito import
  cdk/lib/constructs/auth.ts
  cdk/lib/parameter-schema.ts
  cdk/lib/parameter.ts
  cdk/lib/rapid-stack.ts
  cdk/package-lock.json
  cdk/package.json
  cdk/test/cdk_init.test.ts
Due: cdk-synth

Fix duplication
  backend/src/api/features/checklist/domain/model/checklist.ts
  backend/src/api/features/checklist/usecase/checklist-set.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

fix
  cdk/lib/constructs/review-processor.ts
  cdk/lib/parameter-schema.ts
Due: cdk-synth

Fix CDK deprecation warnings and remove parameter logging
  cdk/lib/constructs/auth.ts
Due: cdk-synth

Add shortExplanation field to image review processor
  backend/src/api/features/review/domain/model/review.ts
  backend/src/review-workflow/review-processing/image-review-processor.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Refactor alert
  .clinerules/frontend.md
  frontend/src/components/AlertModal.tsx
  frontend/src/components/Modal.tsx
  frontend/src/features/checklist/components/CheckListItemTreeNode.tsx
  frontend/src/features/checklist/components/CheckListSetList.tsx
  frontend/src/features/prompt-template/pages/ChecklistPromptTemplatesPage.tsx
  frontend/src/features/review/components/ReviewJobList.tsx
  frontend/src/hooks/useAlert.ts
Due: frontend-format-check, frontend-build

Fix css style
  frontend/ThemeAuth.css
  frontend/src/assets/icon.png
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: frontend-format-check, frontend-build

remove dummy
  cdk/lib/parameter-schema.ts
  cdk/lib/parameter.ts
Due: cdk-synth

fix readme
  README.md
  docs/developer-guide.md
  docs/imgs/icon.png
Due: none

fix
  cdk/lib/rapid-stack.ts
Due: cdk-synth

Fix not icon desplayed on login
  backend/Dockerfile
  frontend/src/components/ProtectedRoute.tsx
Due: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

UI修正
  frontend/index.html
  frontend/src/assets/favicon-16.png
  frontend/src/assets/favicon-180.png
  frontend/src/assets/favicon-192.png
  frontend/src/assets/favicon-32.png
  frontend/src/assets/favicon-48.png
  frontend/src/assets/favicon-64.png
  frontend/src/assets/favicon.ico
  frontend/src/assets/icon.png
  frontend/src/assets/react.svg
  frontend/src/components/AlertModal.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Skeleton.tsx
  frontend/src/components/Table.tsx
  frontend/src/features/checklist/components/CheckListItemAddModal.tsx
  frontend/src/features/checklist/components/CheckListItemEditModal.tsx
  frontend/src/features/checklist/components/CheckListSetList.tsx
  frontend/src/features/checklist/components/DuplicateChecklistModal.tsx
  frontend/src/features/checklist/pages/CheckListSetDetailPage.tsx
  frontend/src/features/checklist/pages/CreateChecklistPage.tsx
  frontend/src/features/prompt-template/components/PromptTemplateEditor.tsx
  frontend/src/features/prompt-template/components/PromptTemplateList.tsx
  frontend/src/features/prompt-template/pages/ChecklistPromptTemplatesPage.tsx
  frontend/src/features/review/components/ComparisonIndicator.tsx
  frontend/src/features/review/components/ReviewJobList.tsx
  frontend/src/features/review/components/ReviewResultFilter.tsx
  frontend/src/features/review/components/ReviewResultItem.tsx
  frontend/src/features/review/components/ReviewResultOverrideModal.tsx
  frontend/src/features/review/pages/CreateReviewPage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: frontend-format-check, frontend-build

Add self-signup configuration to Cognito User Pool and update tests
  .gitlab-ci.yml
  README.md
  cdk/lib/constructs/auth.ts
  cdk/lib/parameter-schema.ts
  cdk/lib/parameter.ts
  cdk/lib/rapid-stack.ts
  cdk/test/auth-cognito.test.ts
  cdk/test/cdk_init.test.ts
  cdk/test/parameter-handling.test.ts
Due: cdk-synth

Fix: cannot delete review job
  frontend/src/features/review/components/ReviewJobList.tsx
Due: frontend-format-check, frontend-build

Refactor Toast component styles and improve accessibility
  frontend/src/App.tsx
  frontend/src/components/Toast.tsx
Due: frontend-format-check, frontend-build

feat: 言語に応じてLLM出力結果を調整する
  backend/prisma/migrations/20250605125600_add_user_preferences/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/features/checklist/routes/handlers.ts
  backend/src/api/features/checklist/usecase/checklist-set.ts
  backend/src/api/features/prompt-template/usecase/template.ts
  backend/src/api/features/review/routes/handlers.ts
  backend/src/api/features/review/usecase/review-job.ts
  backend/src/api/features/user-preference/domain/model/preference.ts
  backend/src/api/features/user-preference/domain/repository.ts
  backend/src/api/features/user-preference/routes/handlers.ts
  backend/src/api/features/user-preference/routes/index.ts
  backend/src/api/features/user-preference/usecase/preference.ts
  backend/src/api/index.ts
  backend/src/checklist-workflow/document-processing/llm-processing.ts
  backend/src/checklist-workflow/index.ts
  backend/src/review-workflow/index.ts
  backend/src/review-workflow/review-processing/image-review-processor.ts
  backend/src/review-workflow/review-processing/review-item-processor.ts
  backend/src/utils/language.ts
  cdk/lib/constructs/checklist-processor.ts
  cdk/lib/constructs/review-processor.ts
  frontend/src/contexts/LanguageContext.tsx
  frontend/src/features/user-preference/hooks/useUserPreferenceMutations.ts
  frontend/src/features/user-preference/hooks/useUserPreferenceQueries.ts
  frontend/src/features/user-preference/types.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

Fix：プロンプト編集のデフォルトをenへ変更
  frontend/src/features/prompt-template/components/PromptTemplateEditor.tsx
  frontend/src/features/prompt-template/constants.ts
Due: frontend-format-check, frontend-build

Add timestamp on checklist
  backend/prisma/migrations/20250605111105_add_created_at_to_checklist_sets/migration.sql
  backend/prisma/migrations/20250605_add_created_at_to_checklist_sets.sql
  backend/prisma/migrations/20250606011922_/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/features/checklist/domain/model/checklist.ts
  backend/src/api/features/checklist/domain/repository.ts
  backend/src/api/features/checklist/routes/handlers.ts
  backend/src/api/features/review/domain/repository.ts
  frontend/src/features/checklist/components/CheckListSetList.tsx
  frontend/src/features/checklist/types.ts
Due: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

Disable auto-assignment of public IPs for the public subnet
  cdk/lib/rapid-stack.ts
Due: cdk-synth

update: backend npm audit
  backend/package-lock.json
  backend/package.json
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

fix: frontend npm audit
  frontend/package-lock.json
  frontend/package.json
Due: frontend-format-check, frontend-build

法的判断、金融を除外しリスク回避
  README.md
Due: none

update fastify 4 to 5 to avoid security issue
  backend/package-lock.json
  backend/package.json
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

add sanitization
  backend/src/handlers/migration-runner.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

デプロイプロセスの改善とマイグレーション実行の最適化
  README-s3.md
  README.md
  bin-s3.sh
  bin.sh
  cdk/lib/constructs/prisma-migration.ts
  cdk/lib/parameter-schema.ts
  cdk/lib/parameter.ts
  cdk/lib/rapid-stack.ts
  deploy-s3.yml
  deploy.sh
  deploy.yml
  docs/developer-guide.md
  docs/how_to_deploy.md
Due: cdk-synth

add arch
  docs/developer-guide.md
  docs/imgs/arch.png
Due: none

add cdk-nag
  cdk/bin/rapid.ts
  cdk/lib/constructs/api.ts
  cdk/lib/constructs/auth.ts
  cdk/lib/constructs/database.ts
  cdk/lib/constructs/frontend.ts
  cdk/lib/nag-suppressions.ts
  cdk/lib/rapid-stack.ts
  cdk/package-lock.json
  cdk/package.json
Due: cdk-synth

remove prompt_Test
  assets/prompt_test/.gitignore
  assets/prompt_test/README.md
  assets/prompt_test/check-list/llm-processing-test.pdf
  assets/prompt_test/check-list/llm-processing.local.js
  assets/prompt_test/check-list/package-lock.json
  assets/prompt_test/check-list/package.json
  assets/prompt_test/review/README.md
  assets/prompt_test/review/checklists/sample.json
  assets/prompt_test/review/package-lock.json
  assets/prompt_test/review/package.json
  assets/prompt_test/review/src/test-bedrock-review.js
  assets/prompt_test/review/src/test-bedrock-review.ts
  assets/prompt_test/review/test-documents/sample.pdf
  assets/prompt_test/review/tsconfig.json
Due: none

Initial commit
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

remove icon
  README.md
  docs/imgs/icon.png
  frontend/index.html
  frontend/public/.gitkeep
  frontend/public/favicon.png
  frontend/public/favicon.svg
  frontend/public/images/bedrock_icon_128.png
  frontend/public/images/bedrock_icon_144.png
  frontend/public/images/bedrock_icon_152.png
  frontend/public/images/bedrock_icon_16.png
  frontend/public/images/bedrock_icon_192.png
  frontend/public/images/bedrock_icon_32.png
  frontend/public/images/bedrock_icon_384.png
  frontend/public/images/bedrock_icon_48.png
  frontend/public/images/bedrock_icon_512.png
  frontend/public/images/bedrock_icon_64.png
  frontend/public/images/bedrock_icon_72.png
  frontend/public/images/bedrock_icon_96.png
  frontend/public/vite.svg
  frontend/src/assets/.gitkeep
  frontend/src/assets/favicon-16.png
  frontend/src/assets/favicon-180.png
  frontend/src/assets/favicon-192.png
  frontend/src/assets/favicon-32.png
  frontend/src/assets/favicon-48.png
  frontend/src/assets/favicon-64.png
  frontend/src/assets/favicon.ico
  frontend/src/assets/icon.png
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: frontend-format-check, frontend-build

remove explicit RAPID
  LOCAL_DEVELOPMENT.md
  cdk/lib/constructs/database.ts
  docs/developer-guide.md
Due: cdk-synth

Path conditions:
  backend-format-check: any of: backend/**/*
  frontend-format-check: any of: frontend/**/*
  backend-build: any of: backend/**/*
  frontend-build: any of: frontend/**/*
  cdk-synth: any of: cdk/**/*, backend/**/*
  backend-docker-build: any of: backend/**/*, backend/Dockerfile
