Repository ma-mitsuya/review-and-assessment-powered-by-intelligent-documentation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

.gitlab-ci.yml:

# GitLab CI/CD パイプライン設定
stages:
  - lint
  - build
  - docker

# キャッシュ設定 - node_modules を再利用して CI を高速化
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - backend/node_modules/
    - frontend/node_modules/
    - cdk/node_modules/

# 並列実行の設定
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

backend-format-check:
  stage: lint
  image: node:22
  script:
    - cd backend
    - npm ci
    - npm run format:check
  rules:
    - changes:
        - backend/**/*
  needs: []

frontend-format-check:
  stage: lint
  image: node:22
  script:
    - cd frontend
    - npm ci
    - npm run format:check
  rules:
    - changes:
        - frontend/**/*
  needs: []

# バックエンドのビルド確認
backend-build:
  stage: build
  image: node:22
  script:
    - cd backend
    - npm ci
    - npm run prisma:generate
    - npm run build
  rules:
    - changes:
        - backend/**/*
  artifacts:
    paths:
      - backend/dist/
    expire_in: 1 hour
  needs: []

# フロントエンドのビルド確認
frontend-build:
  stage: build
  image: node:22
  script:
    - cd frontend
    - npm ci
    - npm run build
  rules:
    - changes:
        - frontend/**/*
  artifacts:
    paths:
      - frontend/dist/
    expire_in: 1 hour
  needs: []

# CDK synth 確認
cdk-synth:
  stage: build
  image: node:22
  script:
    - cd cdk
    - npm ci
    - npm run build
    - npx cdk synth
  rules:
    - changes:
        - cdk/**/*
        - backend/**/*
  artifacts:
    paths:
      - cdk/cdk.out/
    expire_in: 1 hour
  needs: []

# バックエンドの Docker ビルド確認
backend-docker-build:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - cd backend
    - /kaniko/executor --context $CI_PROJECT_DIR/backend --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --no-push
  rules:
    - changes:
        - backend/**/*
        - backend/Dockerfile
  needs:
    - backend-build

feat: Add resultSelector to Step Functions tasks to reduce payload size
  cdk/lib/constructs/review-processor.ts
Due: cdk-synth

style: Format Python files with black style
  backend/src/review-workflow/review-item-processor/s3_temp_utils.py
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

chore: formt
  backend/src/review-workflow/review-postprocessing/post-review-item.ts
  backend/src/utils/s3-temp.ts
  backend/src/utils/sfn-s3-temp.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

feat: update favicon to rabbit head design
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-192x192.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/favicon.svg
  frontend/public/manifest.webmanifest
Due: frontend-format-check, frontend-build

Fix README documentation and model configuration
  README.md
  backend/src/checklist-workflow/document-processing/llm-processing.ts
  backend/src/review-workflow/review-item-processor/agent.py
  backend/src/review-workflow/review-item-processor/index.py
  backend/src/review-workflow/review-processing/image-review-processor.ts
  bin.sh
  cdk/lib/constructs/checklist-processor.ts
  cdk/lib/constructs/review-processor.ts
  cdk/lib/parameter-schema.ts
  cdk/lib/parameter.ts
  cdk/lib/rapid-stack.ts
  deploy.yml
  docs/en/README_en.md
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Update English README with localized screenshots
  docs/en/README_en.md
  docs/imgs/en_new_review.png
  docs/imgs/en_new_review_floor_plan.png
  docs/imgs/en_review_result.png
  docs/imgs/en_review_result_ng.png
Due: none

Fix local deployment instructions: Add backend build steps
  README.md
  docs/en/README_en.md
Due: none

Fix i18n missing translations in checklist item edit modal
  frontend/src/features/checklist/components/CheckListItemEditModal.tsx
  frontend/src/features/checklist/components/CheckListItemTreeNode.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: frontend-format-check, frontend-build

Add i18n support for DocumentPreview component
  frontend/src/components/DocumentPreview.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: frontend-format-check, frontend-build

Add English sample documents and checklists
  examples/en/use_case_001_house_maker_meeting_minutes/check_list_meeting_minutes.pdf
  examples/en/use_case_001_house_maker_meeting_minutes/review_document_floor_plan.png
  examples/en/use_case_004_internal_approval_request/check_list_internal_approval.pdf
  examples/en/use_case_004_internal_approval_request/review_document_internal_approval_request.pdf
Due: none

Add English README for sample use cases
  examples/en/README.md
Due: none

fix: correct default model IDs in README documentation
  README.md
  docs/en/README_en.md
Due: none

Update frontend-waf-stack.ts
  cdk/lib/frontend-waf-stack.ts
Due: cdk-synth

Update rapid-stack.ts
  cdk/lib/rapid-stack.ts
Due: cdk-synth

Update rapid.ts
  cdk/bin/rapid.ts
Due: cdk-synth

Update bin.sh
  bin.sh
Due: none

Update deploy.yml
  deploy.yml
Due: none

Update deploy.sh
  deploy.sh
Due: none
