Repository ma-mitsuya/review-and-assessment-powered-by-intelligent-documentation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

backend-format-check:
  stage: lint
  image: node:22
  script:
  - cd backend
  - npm ci
  - npm run format:check
  needs: []

frontend-format-check:
  stage: lint
  image: node:22
  script:
  - cd frontend
  - npm ci
  - npm run format:check
  needs: []

backend-build:
  stage: build
  image: node:22
  script:
  - cd backend
  - npm ci
  - npm run prisma:generate
  - npm run build
  artifacts:
    paths:
    - backend/dist/
    expire_in: 1 hour
  needs: []

frontend-build:
  stage: build
  image: node:22
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - frontend/dist/
    expire_in: 1 hour
  needs: []

cdk-synth:
  stage: build
  image: node:22
  script:
  - cd cdk
  - npm ci
  - npm run build
  - npx cdk synth
  artifacts:
    paths:
    - cdk/cdk.out/
    expire_in: 1 hour
  needs: []

backend-docker-build:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - cd backend
  - /kaniko/executor --context $CI_PROJECT_DIR/backend --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --no-push
  needs:
  - backend-build

make log group name be unique
  cdk/lib/constructs/api.ts
Due: cdk-synth

fix: version inconsistency for fastify
  backend/package-lock.json
  backend/package.json
  backend/src/api/core/plugins/response-logger.ts
  frontend/src/components/Sidebar.tsx
Due: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

embed smes metrics
  cdk/lib/rapid-stack.ts
Due: cdk-synth

reset migrations
  backend/prisma/migrations/20250520110323_/migration.sql
  backend/prisma/migrations/20250521011039_/migration.sql
  backend/prisma/migrations/20250522083105_/migration.sql
  backend/prisma/migrations/20250526014758_/migration.sql
  backend/prisma/migrations/20250526023516_review_document_relation_change/migration.sql
  backend/prisma/migrations/20250526041833_/migration.sql
  backend/prisma/migrations/20250526060000_add_source_references/migration.sql
  backend/prisma/migrations/20250527084001_/migration.sql
  backend/prisma/migrations/20250528092327_/migration.sql
  backend/prisma/migrations/20250528_add_error_detail.sql
  backend/prisma/migrations/20250530073834_add_short_desc/migration.sql
  backend/prisma/migrations/20250603035444_add_prompt_templates/migration.sql
  backend/prisma/migrations/20250603095534_remove_is_default/migration.sql
  backend/prisma/migrations/20250605111105_add_created_at_to_checklist_sets/migration.sql
  backend/prisma/migrations/20250605125600_add_user_preferences/migration.sql
  backend/prisma/migrations/20250605_add_created_at_to_checklist_sets.sql
  backend/prisma/migrations/20250606011922_/migration.sql
  backend/prisma/migrations/20250609051420_init/migration.sql
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

change repo name
  README.md
  bin.sh
  deploy.yml
Due: none

remove CDK_JSON_OVERRIDE
  README.md
  bin-s3.sh
  bin.sh
  deploy-s3.yml
  deploy.yml
Due: none

update documents
  .amazonq/rules/backend.md
  .amazonq/rules/cdk.md
  .amazonq/rules/frontend.md
  AmazonQ.md
  README.md
  backend/.env.example
  bin-s3.sh
  bin.sh
  deploy-s3.yml
  deploy.sh
  deploy.yml
  docs/developer-guide.md
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

move dev guide
  docs/developer-guide.md
  docs/how_to_deploy.md
Due: none

remove bin section from cdk
  cdk/package.json
Due: cdk-synth

update cdk dependencies
  cdk/package-lock.json
  cdk/package.json
Due: cdk-synth

remove unused definitions
  cdk/lib/constructs/checklist-processor.ts
  cdk/lib/rapid-stack.ts
Due: cdk-synth

remove TODOs
  cdk/lib/constructs/checklist-processor.ts
  cdk/lib/rapid-stack.ts
  frontend/src/features/checklist/components/CheckListItemEditModal.tsx
Due: frontend-format-check, frontend-build, cdk-synth

remove "新規追加" comments
  cdk/lib/constructs/checklist-processor.ts
  frontend/src/features/checklist/components/CheckListItemTreeNode.tsx
Due: frontend-format-check, frontend-build, cdk-synth

add memorybank to .gitignore
  .gitignore
  memory-bank/activeContext.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Due: none

fix
  cdk/lib/constructs/api.ts
  frontend/src/features/review/components/ReviewResultItem.tsx
Due: frontend-format-check, frontend-build, cdk-synth

有効化する生成AIモデルの記載を追加
  README.md
Due: none

不要なS3経由のデプロイ手順を削除
  README-s3.md
Due: none

Update readme
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .gitlab-ci.yml
  README.md
  docs/en/README_en.md
  docs/en/developer-guide.md
  docs/imgs/en_summary.png
  docs/imgs/ja_new_checklist.png
  docs/imgs/ja_new_review.png
  docs/imgs/ja_new_review_floor_plan.png
  docs/imgs/ja_review_result.png
  docs/imgs/ja_review_result_ng.png
  docs/imgs/ja_summary.png
  docs/ja/developer-guide.md
Due: none

fix missing links
  README.md
  docs/en/README_en.md
  docs/en/mcp-features.md
  docs/ja/developer-guide.md
  docs/ja/mcp-features.md
Due: none

fix bin.sh
  cdk/lib/constructs/mcp-runtime/typescript/handler.ts
  deploy.yml
Due: cdk-synth

fix cdk ci as well
  .github/workflows/ci.yml
Due: none

add preinstall script to package.json for dependency installation
  cdk/package.json
Due: cdk-synth

fix: TypeScript configuration and module imports for Node.js compatibility
  cdk/lib/constructs/mcp-runtime/typescript/handler.ts
  cdk/lib/constructs/mcp-runtime/typescript/package-lock.json
  cdk/package.json
Due: cdk-synth

add cis
  .github/workflows/auto-label.yml
  .github/workflows/issue-closure.yml
Due: none

Revert "fix: TypeScript configuration and module imports for Node.js compatibility"
  cdk/lib/constructs/mcp-runtime/typescript/handler.ts
  cdk/lib/constructs/mcp-runtime/typescript/package-lock.json
  cdk/package.json
Due: cdk-synth

Add the --mcp-admin option description to both Japanese and English README files in the CloudShell deployment custom parameters section.
  README.md
  docs/en/README_en.md
Due: none

add command hooks for TypeScript bundling in McpRuntime
  cdk/lib/constructs/mcp-runtime/mcp-runtime.ts
Due: cdk-synth

add esbuild deps on cdk
  cdk/lib/constructs/mcp-runtime/mcp-runtime.ts
  cdk/package-lock.json
  cdk/package.json
Due: cdk-synth

add pre-install
  cdk/package.json
Due: cdk-synth

fix file path
  cdk/package.json
Due: cdk-synth

add Claude Assistant workflow for automated code action triggers
  .github/workflows/claude.yml
Due: none

fix: update Docker platform to ARM64 and adjust CodeBuild image for compatibility
  .github/workflows/docker.yml
  cdk/lib/constructs/checklist-processor.ts
  cdk/lib/constructs/prisma-migration.ts
  cdk/lib/constructs/review-processor.ts
  deploy.yml
Due: cdk-synth

revert python lambda arch
  cdk/lib/constructs/review-processor.ts
Due: cdk-synth

fix: update Dockerfile to use ARM64 base image for compatibility
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

fix: downgrade Node.js version in Dockerfiles to 20 for compatibility with AWS Lambda
  backend/Dockerfile
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

fix: avoid RUN command on lambda image to avoid arm64 issue
  backend/Dockerfile
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

avoid bin.sh when RUN command
  backend/Dockerfile
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

fix: update Dockerfile to use Node.js 22 for ARM64 compatibility
  backend/Dockerfile
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

refactor: comment out build steps in Dockerfiles for clarity
  backend/Dockerfile
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Path conditions:
  backend-format-check: any of: backend/**/*
  frontend-format-check: any of: frontend/**/*
  backend-build: any of: backend/**/*
  frontend-build: any of: frontend/**/*
  cdk-synth: any of: cdk/**/*, backend/**/*
  backend-docker-build: any of: backend/**/*, backend/Dockerfile
