Repository ma-mitsuya/review-and-assessment-powered-by-intelligent-documentation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

.gitlab-ci.yml:

# GitLab CI/CD パイプライン設定
stages:
  - lint
  - build
  - docker

# キャッシュ設定 - node_modules を再利用して CI を高速化
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - backend/node_modules/
    - frontend/node_modules/
    - cdk/node_modules/

# 並列実行の設定
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

backend-format-check:
  stage: lint
  image: node:22
  script:
    - cd backend
    - npm ci
    - npm run format:check
  rules:
    - changes:
        - backend/**/*
  needs: []

frontend-format-check:
  stage: lint
  image: node:22
  script:
    - cd frontend
    - npm ci
    - npm run format:check
  rules:
    - changes:
        - frontend/**/*
  needs: []

# バックエンドのビルド確認
backend-build:
  stage: build
  image: node:22
  script:
    - cd backend
    - npm ci
    - npm run prisma:generate
    - npm run build
  rules:
    - changes:
        - backend/**/*
  artifacts:
    paths:
      - backend/dist/
    expire_in: 1 hour
  needs: []

# フロントエンドのビルド確認
frontend-build:
  stage: build
  image: node:22
  script:
    - cd frontend
    - npm ci
    - npm run build
  rules:
    - changes:
        - frontend/**/*
  artifacts:
    paths:
      - frontend/dist/
    expire_in: 1 hour
  needs: []

# CDK synth 確認
cdk-synth:
  stage: build
  image: node:22
  script:
    - cd cdk
    - npm ci
    - npm run build
    - npx cdk synth
  rules:
    - changes:
        - cdk/**/*
        - backend/**/*
  artifacts:
    paths:
      - cdk/cdk.out/
    expire_in: 1 hour
  needs: []

# バックエンドの Docker ビルド確認
backend-docker-build:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - cd backend
    - /kaniko/executor --context $CI_PROJECT_DIR/backend --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --no-push
  rules:
    - changes:
        - backend/**/*
        - backend/Dockerfile
  needs:
    - backend-build

fix: code build type to ARM_CONTAINER
  backend/Dockerfile
  backend/Dockerfile.prisma.lambda
  deploy.yml
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

feat: update Lambda functions to use ARM64 architecture for improved performance
  cdk/lib/constructs/api.ts
  cdk/lib/constructs/mcp-runtime/mcp-runtime.ts
  cdk/lib/constructs/review-processor.ts
Due: cdk-synth

fix ci
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Due: none

remove unnnecessary ci job
  .github/workflows/docker.yml
Due: none

refactor: remove unnecessary node_modules and package.json copies from Dockerfile
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

refactor: streamline Dockerfile for Prisma Lambda by removing build stage and optimizing commands
  backend/Dockerfile.prisma.lambda
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

fix: add permissions for CloudFront invalidations in BucketDeployment
  cdk/lib/constructs/frontend.ts
Due: cdk-synth

fix: update CodeBuild compute type to BUILD_GENERAL1_MEDIUM for improved performance
  deploy.yml
Due: none

fix: correct CodeBuild image reference in deploy.yml
  deploy.yml
Due: none

wip: be
  backend/prisma/migrations/20250620_add_review_meta/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/features/review/domain/model/review.ts
  backend/src/review-workflow/review-item-processor/agent.py
  backend/src/review-workflow/review-item-processor/lambda_handler.py
  backend/src/review-workflow/review-postprocessing/post-review-item.ts
  backend/src/scripts/seed-db.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

FE
  frontend/src/features/review/components/ReviewItemCostBadge.tsx
  frontend/src/features/review/components/ReviewResultItem.tsx
  frontend/src/features/review/components/TotalReviewCostSummary.tsx
  frontend/src/features/review/hooks/useReviewItemCost.ts
  frontend/src/features/review/hooks/useTotalReviewCost.ts
  frontend/src/features/review/pages/ReviewDetailPage.tsx
  frontend/src/features/review/types.ts
Due: frontend-format-check, frontend-build

be
  backend/src/api/features/review/domain/repository.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

change color on badge
  frontend/src/features/review/components/ReviewItemCostBadge.tsx
  frontend/src/features/review/components/TotalReviewCostSummary.tsx
Due: frontend-format-check, frontend-build

i18n
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: frontend-format-check, frontend-build

fix: total cost calculation
  backend/prisma/migrations/20250623075629_add_review_job_cost_fields/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/features/review/domain/model/review.ts
  backend/src/api/features/review/domain/repository.ts
  backend/src/review-workflow/review-processing/index.ts
  frontend/src/features/review/hooks/useTotalReviewCost.ts
  frontend/src/features/review/pages/ReviewDetailPage.tsx
  frontend/src/features/review/types.ts
Due: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

chore: lint
  frontend/src/features/review/hooks/useReviewItemCost.ts
Due: frontend-format-check, frontend-build

feat: add auto-tagging and release workflow
  .github/workflows/auto-tag-release.yml
Due: none

fix: invoke-model outfile arg
  .github/workflows/auto-tag-release.yml
Due: none

add relase note debug log
  .github/workflows/auto-tag-release.yml
Due: none

fix: correct release name formatting in auto-tag-release workflow
  .github/workflows/auto-tag-release.yml
Due: none

Enable prompt caching for Strands agent to reduce token usage and costs
  backend/src/review-workflow/review-item-processor/agent.py
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Add pagination functionality to review and checklist features
  backend/package-lock.json
  backend/package.json
  backend/src/api/common/types.ts
  backend/src/api/features/checklist/domain/repository.ts
  backend/src/api/features/checklist/routes/handlers.ts
  backend/src/api/features/checklist/usecase/checklist-set.ts
  backend/src/api/features/review/domain/repository.ts
  backend/src/api/features/review/routes/handlers.ts
  backend/src/api/features/review/usecase/review-job.ts
  backend/src/api/features/schemas.ts
  backend/src/scripts/seed-db.ts
  frontend/src/components/Pagination.tsx
  frontend/src/features/checklist/hooks/useCheckListSetQueries.ts
  frontend/src/features/checklist/pages/CheckListPage.tsx
  frontend/src/features/checklist/types.ts
  frontend/src/features/review/components/ChecklistSelector.tsx
  frontend/src/features/review/hooks/useReviewJobQueries.ts
  frontend/src/features/review/pages/CreateReviewPage.tsx
  frontend/src/features/review/pages/ReviewListPage.tsx
  frontend/src/features/review/types.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: backend-format-check, frontend-format-check, backend-build, frontend-build, cdk-synth, backend-docker-build

Add Japanese examples README with use case descriptions
  examples/ja/README.md
Due: none

add files
  examples/ja/ユースケース001_ハウスメーカー商談（議事録と図面間の整合チェック）/01.チェックリスト_顧客商談議事録/商談議事録01.pdf
  examples/ja/ユースケース001_ハウスメーカー商談（議事録と図面間の整合チェック）/02.審査対象_建物間取り図/マンション_3LDK.png
  examples/ja/ユースケース002_不動産仲介_重要事項説明書/01_チェックリスト_重要事項説明書_簡易チェックリスト/重要事項説明書_簡易チェックリスト.pdf
  examples/ja/ユースケース002_不動産仲介_重要事項説明書/02_審査対象書類_重要事項説明書/記入中_重説20250608.pdf
  examples/ja/ユースケース004_社内稟議（IT部門）/チェックリスト/社内稟議書チェックリスト.pdf
  examples/ja/ユースケース004_社内稟議（IT部門）/審査対象書類/社内稟議依頼.pdf
Due: none

examples/ja/README.mdにユースケース003_車庫申請を追加
  examples/ja/README.md
  examples/ja/ユースケース003_車庫申請/チェック項目.pdf
  examples/ja/ユースケース003_車庫申請/申請書例.pdf
Due: none

Fix wheel file path format in requirements generation script
  LOCAL_DEVELOPMENT.md
  backend/src/review-workflow/review-item-processor/index.py
  backend/src/review-workflow/review-item-processor/pyproject.toml
  backend/src/review-workflow/review-item-processor/requirements-locked.txt
  backend/src/review-workflow/review-item-processor/requirements.txt
  cdk/lib/constructs/mcp-runtime/mcp-runtime.ts
  cdk/lib/constructs/mcp-runtime/python/poetry.lock
  cdk/lib/constructs/mcp-runtime/python/pyproject.toml
  cdk/lib/constructs/mcp-runtime/python/requirements-locked.txt
  cdk/lib/constructs/mcp-runtime/python/requirements.txt
  cdk/lib/constructs/review-processor.ts
  scripts/update-all-python-requirements.sh
  scripts/update-python-requirements.sh
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

lock
  backend/src/review-workflow/review-item-processor/poetry.lock
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Update auto-tag-release workflow: improve release notes format
  .github/workflows/auto-tag-release.yml
Due: none

Enable citations for Bedrock PDF processing in checklist creation
  backend/package-lock.json
  backend/src/checklist-workflow/document-processing/llm-processing.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

feat: リリースノートにPRリンクを含めるように修正
  .github/workflows/auto-tag-release.yml
Due: none

Fix Docker Hub rate limiting by using Amazon ECR Public
  backend/Dockerfile
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build

Add chmod +x bin.sh instructions to deployment section
  README.md
  docs/en/README_en.md
Due: none

feat: implement wget-based easy deploy with idempotency
  README.md
  bin.sh
  docs/en/README_en.md
Due: none

docs: remove traditional git clone method, keep only wget-based deployment
  README.md
  docs/en/README_en.md
Due: none

Refactor: Extract getLatestGitTag as a private method
  cdk/lib/rapid-stack.ts
Due: cdk-synth

Use cdk.Annotations.of(this).addWarning() instead of console.warn
  cdk/lib/rapid-stack.ts
Due: cdk-synth

Refactor: Move getLatestGitTag method after constructor
  cdk/lib/rapid-stack.ts
Due: cdk-synth

Add version display to frontend sidebar
  cdk/lib/constructs/frontend.ts
  cdk/lib/rapid-stack.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/utils/version.ts
Due: frontend-format-check, frontend-build, cdk-synth

add .serena to .gitignore
  .gitignore
Due: none

feat: Implement S3 Temp storage to resolve Step Functions 256KB limit
  backend/src/review-workflow/review-item-processor/index.py
  backend/src/review-workflow/review-item-processor/s3_temp_utils.py
  backend/src/review-workflow/review-postprocessing/post-review-item.ts
  backend/src/utils/s3-temp.ts
  backend/src/utils/sfn-s3-temp.ts
  cdk/lib/constructs/review-processor.ts
  cdk/lib/constructs/s3-temp-storage.ts
  cdk/lib/rapid-stack.ts
Due: backend-format-check, backend-build, cdk-synth, backend-docker-build
